section.visual img {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}
.fade-in {
  opacity: 1;
  transform: translateY(30px);
  animation: fadeInUp 9.5s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-delay1 {
  opacity: 0;
  transform: translateY(20px);
  
  animation: fadeInUp 1s ease forwards;
  animation-delay: 4.5s;
}

.fade-in-delay2 {
  opacity: 0;
  transform: translateY(20px);
  
  animation: fadeInUp 1s ease forwards;
  animation-delay:5s;
}
.fade-in {
  opacity: 1;
  transform: translateY(30px);
  animation: fadeInUp 9.5s ease-out forwards;
}

.fade-in-delay1 {
  opacity: 0;
  transform: translateY(20px);
  
  animation: fadeInUp 1s ease forwards;
  animation-delay: 4.5s;
}

.fade-in-delay2 {
  opacity: 0;
  transform: translateY(20px);
  
  animation: fadeInUp 1s ease forwards;
  animation-delay: 5s;
}
